<div class="container">
    <form (ngSubmit)="onSubmit()" #register="ngForm" *ngIf="!loginService.checkLogin()">
        <h2 class="ui dividing header">login</h2>
        <div class="field">
            <!-- <label for="email">email</label>
            <div class="field">
                <input type="text" name="email" [(ngModel)]="newuser.email" placeholder="email" required />
            </div> -->
            <label for="email">username</label>
            <div class="field">
                <input type="text" name="username" [(ngModel)]="checkuser.username" placeholder="username"  required />
            </div>
            <label for="email">password</label>
            <div class="field">
                <input type="text" name="password"  [(ngModel)]="checkuser.password" placeholder="password" required />
            </div>

            <button type="submit" class="ui button">login</button>
        </div>
    </form>

    <div *ngIf="loginService.checkLogin()">
        hello, {{localStorage.getItem('username')}}
    </div>
</div>