<div class="photo-list">
    <div class="ui grid">
        <div class="two wide column">

        </div>
        <div class="fourteen wide column">
            <div class="ui raised segment">
                <img src="#" class="ui img big centered" alt="" />
                <div class="ui center aligned grid">
                    <div class="column tweleve wide">
                        <div class="ui grid">
                            <div class="four colum row">
                                <div class="left floated column left aligned">
                                    <strong>
                                        photo title
                                    </strong><br>
                                    photo description
                                </div>
                                <div class="right floated column right aligned">
                                    like
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>